<!-- IF S_VIEWTOPIC and S_USER_LOGGED_IN and not S_IS_BOT -->

<!-- IF S_PSS_LEFT -->
	<!-- INCLUDEJS @tatiana5_profilesideswitcher/profile_side_switcher.js -->
<!-- ENDIF -->

<script>
	function switchProfiles() {
		var pss_cont = $('#page-body');
		var pss_btn = $('.profile-switcher');
		var pss_url = pss_btn.attr('href');
		var pss_left = pss_cont.hasClass('leftsided');

		phpbb.addAjaxCallback('pss', function(res) {
			if (res.success) {
				if(pss_left) {
					pss_cont.removeClass('leftsided');
					<!-- IF not(PSS_IS_PHPBB32) -->
						pss_btn.parent('li').attr('class', 'small-icon icon-pss-left');
					<!-- ENDIF -->
					pss_btn.html('{L_PSS_LEFT}');
					pss_url = pss_url.substring(0, pss_url.length - 1) + '1';
				} else {
					pss_cont.addClass('leftsided');
					<!-- IF not(PSS_IS_PHPBB32) -->
						pss_btn.parent('li').attr('class', 'small-icon icon-pss-right');
					<!-- ENDIF -->
					pss_btn.html('{L_PSS_RIGHT}');
					pss_url = pss_url.substring(0, pss_url.length - 1) + '0';
				}
				pss_btn.attr('href', pss_url);
			}
		});
	}

	$('.profile-switcher').on('click', function(e) {
		e.preventDefault();
		switchProfiles();
	});
</script>

<!-- ENDIF -->