<script type="text/javascript">
// <![CDATA[
	function createCookie(name, value, days)
	{
		if (days)
		{
			var date = new Date();
			date.setTime(date.getTime() + (days*24*60*60*1000));
			var expires = '; expires=' + date.toGMTString();
		}
		else
		{
			expires = '';
		}

		document.cookie = name + '=' + value + expires + '; path=/';
	}

	function readCookie(name)
	{
		var nameEQ = name + '=';
		var ca = document.cookie.split(';');

		for (var i = 0; i < ca.length; i++)
		{
			var c = ca[i];

			while (c.charAt(0) == ' ')
			{
				c = c.substring(1, c.length);
			}

			if (c.indexOf(nameEQ) == 0)
			{
				return c.substring(nameEQ.length, c.length);
			}
		}

		return null;
	}
	
	function switchProfiles(init) {
		var cont = document.getElementById('page-body');
		var btn = document.getElementById('profile-switcher');
		var left = (init ? (readCookie('leftsided') === '1') : (cont.className != 'leftsided'));
		cont.className = (left ? 'leftsided' : '');
		btn.title = (left ? langProfilesLR[1] : langProfilesLR[0]);
		btn.style.backgroundPosition = (left ? '0 100%' : '0 0');
		if (!init) createCookie('leftsided', left ? 1 : 0, 365);
	}
// ]]>
</script>

<link href="{ROOT_PATH}ext/tatiana5/profile_side_switcher/styles/prosilver/theme/profile_side_switcher.css" rel="stylesheet" type="text/css" media="only screen and (min-width: 700px), only screen and (min-device-width: 700px)" />