/* Mini profiles on the left */
.leftsided .post:not(.profile_hidden) div.postbody {
	float: right;
	width: 79%;
}
.leftsided .postprofile {
	float: left;
	width: 20%;
	border-left: none;
	border-right: 1px solid #FFF;
}
.leftsided .pm .postprofile {
	border-left: none;
	border-right: 1px solid #DDD;
}
.leftsided .postprofile dd, .leftsided .postprofile dt {
	margin-left: 0;
	margin-right: 12px;
}
.leftsided .post.online {
	background-image: none;
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.leftsided .post:not(.profile_hidden) div.postbody {
		float: none;
		width: auto;
	}
	.leftsided .postprofile {
		float: none;
		width: auto;
		border-right: none;
	}
	.leftsided .pm .postprofile {
		border-right: none;
	}
	.leftsided .postprofile dd, .leftsided .postprofile dt {
		margin: 0;
	}
}

.icon-pss-left {
	background-image: url("./images/icon_profiles_left.png");
}

.icon-pss-right {
	background-image: url("./images/icon_profiles_right.png");
}
