/* Mini profiles on the left */
.leftsided .postbody {
	float: right;
	width: 79%;
}
.leftsided .postprofile {
	float: left;
	width: 20%;
	border-left: none;
	border-right: 1px solid #FFF;
}
.leftsided .pm .postprofile {
	border-left: none;
	border-right: 1px solid #DDD;
}
.leftsided .postprofile dd, .leftsided .postprofile dt {
	margin: 0 8px 0 0;
}
.leftsided .online .postprofile {
	background: url("./en/icon_user_online.gif") right top no-repeat;
}
.leftsided .post.online {
	background-image: none;
}
.leftsided ul.profile-icons {
	margin-right: 0.1em;
}

#profile-switcher {
	height: 18px;
	margin-bottom: -4px;
	margin-top: 4px;
	padding: 0;
	width: 22px;
}